@use "./styles/filter";
@use "./styles/popup";

@tailwind base;
@tailwind components;
@tailwind utilities;

.dark-theme {
  --body-bg: #D6E4FF;
    /* Light blue background color */
    --body--bg: #D6E4FF;
    /* Light blue background color */
    --events--bg: #B2D4FF;
    /* Light blue event background color */
    --border-color: #454e56;
    /* Cinnamoroll border color */
    --border-color-2: #363636;
    /* Cinnamoroll secondary border color */
    --color--white: #6C7983;
    /* Cinnamoroll white color */
    --color--purple: #7263F3;
    /* Cinnamoroll purple color */
    --color--black: #000;
    /* Cinnamoroll black color */
    --box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    /* Cinnamoroll box shadow */
    --brad-1: 0.5rem;
    /* Cinnamoroll border radius 1 */
    --brad-2: 1rem;
    /* Cinnamoroll border radius 2 */
    --brad-3: 1.5rem;
    /* Cinnamoroll border radius 3 */
    --brad-4: 2rem;
    /* Cinnamoroll border radius 4 */
}

.light-theme {
    --body-bg: #FFD6E4;
      /* Light pink background color */
      --body--bg: #FFD6E4;
      /* Light pink background color */
      --events--bg: #FFB2D4;
      /* Light pink event background color */
      --border-color: #454e56;
      /* Cinnamoroll border color */
      --border-color-2: #363636;
      /* Cinnamoroll secondary border color */
      --color--white: #6C7983;
      /* Cinnamoroll white color */
      --color--purple: #7263F3;
      /* Cinnamoroll purple color */
      --color--black: #000;
      /* Cinnamoroll black color */
      --box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
      /* Cinnamoroll box shadow */
      --brad-1: 0.5rem;
      /* Cinnamoroll border radius 1 */
      --brad-2: 1rem;
      /* Cinnamoroll border radius 2 */
      --brad-3: 1.5rem;
      /* Cinnamoroll border radius 3 */
      --brad-4: 2rem;
      /* Cinnamoroll border radius 4 */
}
body {
  height: 100vh;
  background-color: var(--body-bg);

  @media screen and (max-width: 700px) {
    font-size: 90%;
  }
}

.content {
  padding: 2rem;
  width: 100%;
  height: 100%;

  display: flex;
  gap: 1.5rem;

  @media screen and (max-width: 895px) {
    flex-direction: column;
  }

  .map-content {
    width: 75%;

    @media screen and (max-width: 1298px) {
      width: 65%;
    }

    @media screen and (max-width: 895px) {
      width: 100%;
      height: 55%;
    }
  }
}

.map-container {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: var(--brad-2);
  border: 2px solid var(--border-color);
}

.liked-events {
  flex: 1;
  padding: 1rem 2rem;
  border-radius: var(--brad-2);
  background-color: var(--events--bg);
  box-shadow: var(--box-shadow);
  border: 2px solid var(--border-color);

  color: var(--color--white);
  overflow-y: auto;

  &__title {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 1rem;

    display: flex;
    align-items: center;
    gap: 0.3rem;

    i {
      color: #fdc401;
    }
  }

  &__event {
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: var(--brad-1);
    background-color: var(--border-color-2);
    box-shadow: var(--box-shadow);
    font-weight: 500;

    color: var(--color--white);

    cursor: pointer;
  }

  &::-webkit-scrollbar {
    width: 4px;
  }
}
